/*Main*/

#canvas1 { background: #FFF; 
	border: #000 1px solid;
	margin: 10px;
	}
#canvas2 { background: #FFF; 
	border: #000 1px solid;
	margin: 10px;
	}

body{    font-family: arial; 
	 font-size: 80%; 
	 line-height: 1.2em; width: 100%; 
	 margin: 0; background: #eee;
	 font-weight: normal;
	}
#container { width: width;
	      background-image: url("https://user-images.githubusercontent.com/34121390/36338464-6b39b094-1364-11e8-894a-a6c07b2de3ca.JPG");
	    /*background-color: #8484BA;*/
             margin: 20px 20px 1px 20px;
	     padding: 50px;
        }
.flex-container { display: flex;
	          border-top: 1px solid #494991;
                  flex-direction: row;
                  background: #FFFDE6;
		  margin-top: 1px 20px 1px 20px;
        }
/* or on different lines like below */

myHero{ display: block;
	background-color: #B5A0CC;
	padding: 50px;
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
  }
/*CONTENT*/
#logo{  width: 35%;
	color: #A7A7D0;
	margin: 15px 10px 15px 10px;
	font-family: georgia;
	display: inline-block;
	}

#content-intro{ margin: 1px 0px 20px 0px;
		background: #FFFDE6;
		padding: 5px;
		clear: both;
	        border-right: 2px dotted #494991;
		width: 45%;
}
/* PARAGRAPHS*/
/* you can structure your code's white space so that it is as readable
for when you come back in the future or for other people to read and edit quickly */
p{  line-height: 1em; }
	
/* you can but your code all in one line like above */

#official-info { margin: 15px 20px 20px 0px;
		 padding: 5px;
		 background-color: #FFFDE6;}

section {  margin: 1px 20px 20px 0px;
	   background: #FFFDE6;
	   padding: 20px;
	   clear: both;  
	   width: 70%;	
           height: 220px;
           overflow-y: auto;
           overflow-x: hidden;
           float: right;}
article {  background: #FFFDE6;
	   padding: 5px; }
/* PICTURES */
#sunset { width: 220px;
          margin-right: 10px;
          margin-bottom: 6px;
          border: 6px ridge orange;
	  float: left;
}
/* HEADINGS */

h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
h1, h2, h3, h4{ color: orange;
		font-weight: normal;
		line-height: 1.1em;
		margin: 0 0 .5em 0;  }

/*NAVIGATION and LISTS*/
#nav { margin: 1px 20px 1px 20px }

a:link, a:visited {
    background-color: #B4A1CC ;
    color: #63418C;
    padding: 14px 49px;
    margin: 1px 1px 1px 0px;	
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active{ text-decoration: underline; }

/* multiple styles seperated by a , */



/* FOOTER */
footer p{	text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}
footer {        background-color: #FFF0C4;
	 	border-top: 2px solid #CFB056;
	        border-bottom: 2px solid #CFB056;
	        color: #CFB056;
		margin-bottom: 10px;
		margin-top: 10px;
		padding-right: 5px;
		clear: both;
	}

