/*Main*/

#canvas1 { background: #FFF; 
	border: #000 1px solid;
	margin: 10px;
	}
#canvas2 { background: #FFF; 
	border: #000 1px solid;
	margin: 10px;
	}

body{    font-family: arial; 
	 font-size: 80%; 
	 line-height: 1.2em; width: 100%; 
	 margin: 0; background: #eee;
	 font-weight: normal;
	}
#container { width: width;
	     background-color: #8484BA;
             margin: 20px 20px 1px 20px;
	     padding: 50px;
        }
/* or on different lines like below */

myHero{ display: block;
	background-color: #dddddd;
	padding: 50px;
	font-size: 30px;
	margin: 10px;
  }
/*CONTENT*/
#logo{  width: 35%;
	margin: 15px 10px 15px 10px;
	font-family: georgia;
	display: inline-block;
	text-shadow: 2px 2px green;
	}

#content-intro{ margin: 15px 15px 15px 15px;
		background: white;
		padding: 20px;
		clear: both;
		border: 1px solid gray;
		width: 70%;
}
/* PARAGRAPHS*/
/* you can structure your code's white space so that it is as readable
for when you come back in the future or for other people to read and edit quickly */
p{  line-height: 1em; }
	
/* you can but your code all in one line like above */

#official-info { background: rgb(230, 230, 230);
                 margin: 15px 0px 10px 6px;
		 padding: 5px;}

section {  margin: 15px 15px 15px 15px;
	   background: white;
	   padding: 20px;
	   clear: both;  
	   border: 1px solid gray;
	   width: 70%;	
           height: 180px;
           overflow-y: auto;
           overflow-x: hidden;}
article {  background: rgb(230, 230, 230);
	   padding: 5px; }
/* PICTURES */
#sunset { width: 220px;
          margin-right: 10px;
          margin-bottom: 6px;
          border: 6px ridge orange;
	  float: left;
}
/* HEADINGS */

h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
h1, h2, h3, h4{ color: orange;
		font-weight: normal;
		line-height: 1.1em;
		margin: 0 0 .5em 0;  }

/*NAVIGATION and LISTS*/
#nav { margin: 1px 20px 1px 20px }

a:link, a:visited {
    background-color: #B4A1CC ;
    color: white;
    padding: 14px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active{ text-decoration: underline; }

/* multiple styles seperated by a , */



/* FOOTER */
footer p{	text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}
footer {	border-bottom: 1px #ccc solid;
		margin-bottom: 10px;
		margin-top: 10px;
		padding-right: 5px;
		clear: both;
	}

