/*Main*/

#canvas1 { background: #FFF; 
	border: #000 1px solid;
	margin: 10px;
	}
#canvas2 { background: #FFF; 
	border: #000 1px solid;
	margin: 10px;
	}

body{    font-family: arial; 
	 font-size: 80%; 
	 line-height: 1.2em; width: 100%; 
	 margin: 0; background: #eee;
	 font-weight: normal;
	}
#container { width: width;
	     background-color: #8484BA;
             margin: 20px 20px 1px 20px;
	     padding: 50px;
        }
.flex-container { display: flex;
                  flex-direction: row;
                  background-color: #E6E6FC;
		  margin-top: 1px;
        }
/* or on different lines like below */

myHero{ display: block;
	background-color: #dddddd;
	padding: 50px;
	font-size: 30px;
	margin: 10px;
  }
/*CONTENT*/
#logo{  width: 35%;
	color: #A7A7D0;
	margin: 15px 10px 15px 10px;
	font-family: georgia;
	display: inline-block;
	}

#content-intro{ margin: 1px 0px 20px 0px;
		background: #D1C5E0;
		padding: 5px;
		clear: both;
	        border-top: 1px solid #494991;
	        border-right: 2px dotted #494991;
		width: 45%;
}
/* PARAGRAPHS*/
/* you can structure your code's white space so that it is as readable
for when you come back in the future or for other people to read and edit quickly */
p{  line-height: 1em; }
	
/* you can but your code all in one line like above */

#official-info { margin: 15px 20px 20px 0px;
		 padding: 5px;
		 background-color: white;}

section {  margin: 1px 20px 20px 0px;
	   background: white;
	   padding: 20px;
	   clear: both;  
	   border-top: 1px solid #494991;
	   width: 60%;	
           height: 220px;
           overflow-y: auto;
           overflow-x: hidden;
           float: right;}
article {  background: rgb(230, 230, 230);
	   padding: 5px; }
/* PICTURES */
#sunset { width: 220px;
          margin-right: 10px;
          margin-bottom: 6px;
          border: 6px ridge orange;
	  float: left;
}
/* HEADINGS */

h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
h1, h2, h3, h4{ color: orange;
		font-weight: normal;
		line-height: 1.1em;
		margin: 0 0 .5em 0;  }

/*NAVIGATION and LISTS*/
#nav { margin: 1px 20px 1px 20px }

a:link, a:visited {
    background-color: #B4A1CC ;
    color: white;
    padding: 14px 50px;
    margin: 1px 1px 1px 0px;	
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active{ text-decoration: underline; }

/* multiple styles seperated by a , */



/* FOOTER */
footer p{	text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}
footer {        background-color: #FFF0C4;
	 	borger-top: 2px solid #CFB056;
	        border-bottom: 2px solid #CFB056;
	        color: #CFB056;
		margin-bottom: 10px;
		margin-top: 10px;
		padding-right: 5px;
		clear: both;
	}

